// Varibales
$color1: #402515;
$color2: #C6A18C;
$color3: #DA8465;
$color4: rgba(173, 149, 141, 0.5);
$gradiente: linear-gradient(90deg, rgba(64, 37, 21, 1) 0%, rgba(198, 161, 140, 1) 100%);

$fuente1: "bad script";
$fuente2: "roboto";
$fuente3: "amarante";

/* Body */
body{
    /* Reset*/
    padding: 0;
    margin: 0 auto;
    min-height: 100vh;
    box-sizing: border-box;

    /* Contenedor */
    .contenedor{
    display: grid;
    grid-template:
        "header" 10%
        "nav" 10%
        "main" 70%
        "footer" 10%;
    row-gap: 0.2rem;
    min-height: 100vh;

        .header{
            grid-area: header;
            background: $gradiente;
            display: flex;
            justify-content: space-evenly;
            padding-top: 1rem;

            .headerIzq{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: 40%;

                h1{
                    color: $color2;
                    font-family: $fuente1;
                    text-align: center;
                    font-size: 2rem;
                }

                p{
                    font-family: $fuente2;
                    color: $color2;
                    text-align: center;
                }

            }

            .headerImg{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 20%;

                img{
                    border: solid white 0.1px;
                    border-radius: 100%;
                    width: 100%;
                    max-width: 10rem;
                }
            }

            .headerDer{
                display: flex;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;
                width: 40%;

                p{
                    width: auto;
                    font-size: 1rem;
                    text-align: center;
                }
            }
        }

        .nav{
            grid-area: nav;
            background-color: $color3;
            max-height: fit-content;
                
                .navUl{
                    width: 100%;
                    text-align: center;
                    font-size: 1.5rem;
                }

            }


        .main{
            grid-area: main;
            background-image: url(../img/img2mainbackground.png);
            background-repeat: no-repeat;
            background-size: cover;

            .mainRedes{
                display: flex;
                gap: 1rem;
                justify-content: flex-end;
                margin-top: 0.5rem;
                margin-right: 0.5rem;

                img{
                    width: 100%;
                    height: 100%;
                }
            }

            .mainFrase {
                background-color: $color4;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;
                margin-top: 2rem;

                h2{
                    font-family: $fuente3;
                    text-align: center;
                    font-size: 2.5rem;

                    span{
                        color: white;
                    }
                }
            }

            .mainTerapias{
                background-color: $color4;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-evenly;
                align-items: center;
                gap: 1rem;
                margin-top: 2rem;
                margin-bottom: 2rem;

                div{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    width: 100%;
                    max-width: 8rem;

                    img{
                        border: solid black 1px;
                        border-radius: 100%;
                        margin-top: 1rem;
                        width: 6rem;
                        height: 6rem;
                    }

                    img:hover{
                        transform: scale(1.1);
                        border: solid white 0.1px;
                        border-radius: 100%;
                        box-shadow: 0px 0px 1rem black;
                    }

                    p{
                        font-family: $fuente2;
                        font-size: 1.4rem;
                        text-align: center;
                    }
                }
            }
        }

        .footer{
            grid-area: footer;
            background: $gradiente;
            display: flex;
            flex-direction: column;
            justify-content: center;
            max-height: auto;

            .footerRedes{
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 0.5rem;
                gap: 1rem;

                img{
                    width: 100%;
                    height: 100%;
                }
            }

            h3{
                color: white;
                text-align: center;
                font-family: $fuente2;
                font-size: 1.2rem;
            }
        }

        .tratamientos{
            margin-top: 2rem;
            margin-bottom: 2rem;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            gap: 2rem;

            div{
                display: flex;
                flex-direction: column;
                background-color: $color4;
                align-items: center;
                padding: 1rem;
                
                img{
                    width: 5rem;
                    height: 5rem;
                    border: solid black 0.1px;
                    border-radius: 100%;
                }

                h2{
                    font-family: $fuente3;
                    color: white;
                    text-align: center;
                }

                p{
                    font-family: $fuente2;
                    text-align: center;
                    font-size: 1.5rem;
                }
            }
            
        }

        .nosotros{
            display: flex;
            flex-direction: column;
            gap: 2rem;
            align-items: center;
            background-color: $color4;
            padding: 2rem 2rem;
            margin-top: 2rem;
            margin-bottom: 2rem;

            div{
                img{
                    width: 10rem;
                    height: 16rem;
                    box-shadow: 2px 2px 2rem;
                }
            }

            .nosotros2{
                background-color: rgba(198, 161, 140, 0.5);
                p{
                    text-align: center;
                    font-size: 1.3rem;
                }
            }
        }

        .turnos{
            display: flex;
            margin-top: 3rem;
            background-color: $color4;
            padding: 2rem 2rem;
            
            div{
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 3rem;
                margin: 0 auto;
                img{
                    width: 95%;
                    max-width: 16rem;
                    box-shadow: 2px 2px 2rem;
                }
                .turnos2{
                    background-color: rgba(198, 161, 140, 0.5);
                    p{
                        text-align: center;
                        font-size: 1.3rem;
                        span{
                            color: white;
                            font-family: $fuente3;
                        }
                    }
                }
            }
            
        }

        .contacto{
            display: flex;
            flex-direction: column;
            margin-top: 2rem;
            margin-bottom: 2rem;

            h2{
                width: 100%;
                background-color: $color4;
                font-family: $fuente3;
                color: white;
                font-size: 1.8rem;
                text-align: center;
            }

            form{
               fieldset{
                background-color: $color4;
                    margin: 0 auto;
                    width: 90%;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;
                    text-align: center;
                    gap: 1rem;

                    div{
                        display: flex;
                        flex-direction: column;
                        width: 100%;
                        text-align: center;
                        label{
                            background-color: $color1;
                            color: white;
                        }
                        select{
                            text-align: center;
                        }
                    }
                    .boton{
                        
                        input{
                            background-color: $color3;
                            color: white;
                        }
                        
                    }
                }
            }
        }

        @media screen and (min-width: 576px) {
            grid-template: 
            "header" auto
            "nav" 0.1fr
            "main" 4fr
            "footer" 0.1fr
            ;
            .header{
                max-height: 12rem;
                padding-bottom: 0.5rem;
                .headerIzq{
                    h1{
                        font-size: 3rem;
                    }
                    p{
                        font-size: 1.5rem;
                    }
                }

                .headerDer{
                    p{
                        font-size: 1.5rem;
                    }
                }
            }

            .navUl{
                justify-content: space-evenly;
            }

            .main{
                .mainFrase{
                    margin-top: 8rem;
                    margin-bottom: 8rem;
                    h2{
                        font-size: 4rem;
                    }
                    
                }

                .mainTerapias{
                    div{
                        max-width: 9rem;
                        img{
                            width: 9rem;
                            height: 9rem;
                        }
                    }
                }

                .tratamientos{
                    div{
                        img{
                            width: 8rem;
                            height: 8rem;
                        }
                    }
                }

                .turnos{
                    div{
                        img{
                            max-width: 25rem;
                            .turnos2{
                                p{
                                    font-size: 1.8rem;
                                }
                            }

                        }
                    }
                }
            }

            .contacto{
                form{
                    fieldset{
                        width: 80%;
                        margin: 0 auto;
                        display: grid;
                        grid-template-areas:
                            "consulta tratamiento"
                            "nombre apellido" 
                            "email telefono" 
                            "boton boton" ;

                        .contactoMotivo{
                            grid-area: consulta;
                        }
                        .contactoTratamiento{
                            grid-area: tratamiento;
                        }
                        .contactoNombre{
                            grid-area: nombre;
                        }
                        .contactoApellido{
                            grid-area: apellido;
                        }
                        .contactoEmail{
                            grid-area: email;
                        }
                        .contactoTelefono{
                            grid-area: telefono;
                        }
                        .boton{
                            grid-area: boton;
                        }
                    }
                }
            }

            
        }
    
        @media screen and (min-width: 900px) {
            .header{
                max-height: 12rem;
                .headerIzq{
                    h1{
                        font-size: 3.8rem;
                    }
                    p{
                        font-size: 2rem;
                    }
                }

                .headerDer{
                    p{
                        width: 100%;
                        font-size: 1.8rem;
                    }
                }
            }

            .nav{
                width: 98%;
                margin: 0 auto;
                .navUl{
                    li{
                        a:hover{
                            color: white;
                        }
                    }
                }

            }
            
            .main{
                width: 98%;
                margin: 0 auto;
                .mainFrase{
                    margin-top: 8rem;
                    margin-bottom: 8rem;
                    h2{
                        font-size: 4rem;
                    }
                    
                }

                .mainTerapias{
                height: 20rem;
                    div{
                    max-width: 9rem;
                        img{
                            width: 9rem;
                            height: 9rem;
                        }
                        p{
                            font-size: 2rem;
                        }
                    }
                }

                .nosotros{
                    flex-direction: row;
                    justify-content: space-evenly;
                    div{
                        img{
                            width: 15rem;
                            height: 25rem;
                        }
                    }
                    .nosotros2{
                        width: 40%;
                        p{
                            font-size: 1.8rem;
                        }
                    }
                }

                .turnos{
                    div{
                        display: flex;
                        div{
                            width: 80%;
                            p{
                                font-size: 2rem;
                                span{
                                    font-size: 2.2rem;
                                }
                            }
                        }
                    }
                }
        }
    }
 
    }
}