/*Footer*/

.footer{
    grid-area: footer;
    background: $gradiente;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-height: auto;

    .footerRedes{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 0.5rem;
        gap: 1rem;

        img{
            width: 100%;
            height: 100%;
        }
    }

    h3{
        color: white;
        text-align: center;
        font-family: $fuente2;
        font-size: 1.2rem;
    }
}
