/*Footer*/

.footer{
    grid-area: footer;
    background: $gradiente;
    @include flexc;
    max-height: auto;

    .footerRedes{
        @include flexr;
        margin-top: 0.5rem;
        gap: 1rem;

        img{
            width: 100%;
            height: 100%;
        }
    }

    h3{
        color: white;
        text-align: center;
        font-family: $fuente2;
        font-size: 1.2rem;
    }
}
