/*Index*/
.mainFrase {
    background-color: $color4;
    @include flexr;
    flex-wrap: wrap;
    box-shadow: rgb(39, 39, 39) 0px 10px 100px;
    margin: 2rem auto;

    h2{
        font-family: $fuente3;
        text-align: center;
        font-size: 2.5rem;

        span{
            color: white;
        }
    }
}

.mainTerapias{
    background-color: $color4;
    @include flexr;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;

    div{
        @include flexc
        width: 100%;
        max-width: 8rem;

        .mainTerapiasUno {
            @extend %terapias;
        }
        .mainTerapiasDos {
            @extend %terapias;
        }
        .mainTerapiasTres {
            @extend %terapias;
        }
        .mainTerapiasCuatro {
            @extend %terapias;
        }
        .mainTerapiasCinco {
            @extend %terapias;
        }
        
        p{
            font-family: $fuente2;
            font-size: 1.4rem;
            text-align: center;
        }
    }
}

@media screen and (min-width: 900px) {
    .mainFrase {
        width: 98%;
    }
    
}