/*Index*/
.mainFrase {
    background-color: $color4;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    box-shadow: rgb(39, 39, 39) 0px 10px 100px;
    margin: 2rem auto;

    h2{
        font-family: $fuente3;
        text-align: center;
        font-size: 2.5rem;

        span{
            color: white;
        }
    }
}

.mainTerapias{
    background-color: $color4;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;

    div{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        max-width: 8rem;
        img{
            border: solid black 1px;
            border-radius: 100%;
            margin-top: 1rem;
            width: 6rem;
            height: 6rem;
            &:hover{
                transform: scale(1.1);
                border: solid white 0.1px;
                border-radius: 100%;
                box-shadow: 0px 0px 1rem black;
            }
        }
        p{
            font-family: $fuente2;
            font-size: 1.4rem;
            text-align: center;
        }
    }
}

@media screen and (min-width: 900px) {
    .mainFrase {
        width: 98%;
    }
    
}