/*Nosotros*/

.nosotros{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    background-color: $color4;
    padding: 2rem 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;

    div{
        img{
            width: 10rem;
            height: 16rem;
            box-shadow: 2px 2px 2rem;
        }
    }

    .nosotros2{
        background-color: rgba(198, 161, 140, 0.5);
        box-shadow: black 0rem 1rem 100px ;
        p{
            text-align: center;
            font-size: 1.3rem;
        }
    }
}